<!DOCTYPE html>
<html lang="en-gb">
	<head>
		<meta charset="utf-8">
		<title>Error !! (YuBe)</title>
		<link rel="icon" type="image/svg+xml" href="/get-resource/icon.svg"/>
		<link rel="stylesheet" type="text/css" href="/get-resource/style.css"/>
		<script src="/get-resource/player.js"></script>
		<script src="/get-resource/login.js"></script>
	</head>
	<body class="body">
		<div id="login-popup" class="login-popup" style="display: none;">
			<div class="popup-box">
				<div class="popup-box-internal">
					<div class="sign-in-top">
						<h1>Sign in</h1>
						<p>Don't have an account? <a href="/signup">Sign up</a>.</p>
					</div>
					<div class="sign-in-centre">
						<form id="login">
							<div class="sign-in-feild">
								<label for="username">Username</label><br/>
								<input id="username" name="username" type="text" placeholder="Username" />
							</div>
							<div class="sign-in-feild">
								<label for="password">Password</label><br/>
								<input id="password" name="password" type="password" placeholder="Password" />
							</div>
						</form>
					</div>
					<div class="sign-in-bottom">
						<button class="sign-in-cancel" onclick="hideLogin()">Cancel</button>
						<button form="login" class="sign-in-submit" type="submit">Sign in</input>
					</div>
				</div>
			</div>
		</div>
		<header>
			<div class="navbar">
				<div style="float: left;">
					<ul>
						<img class="logo" src="get-resource/logo.svg"/>
						<li><a href="/">Home</a></li>
						<li><a href="/videos">Videos</a></li>
						<li><a href="/recent">Recent</a></li>
					</ul>
				</div>
				<div style="float: right;">
					<ul>
						<li id="user-link"><button onclick="showLogin()">Sign in</button></li>
						<li></li>
					</ul>
				</div>
			</div>
		</header>
		<main>
			<div class="before"> </div>
			<div class="main">
				${error}$
			</div>
		</main>
	</body>
	<script>
		updateLoginStatus();
	</script>
</html>
