<!DOCTYPE html>
<html lang="en-gb">
	<head>
		<meta charset="utf-8">
		<title>${video.title}$ &mdash; yuBe</title>
		<link rel="icon" type="image/svg+xml" href="/get-resource/icon.svg"/>
		<link rel="stylesheet" type="text/css" href="/get-resource/style.css"/>
		<link rel="stylesheet" type="text/css" href="/get-resource/m3.css"/>
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<script src="/get-resource/player.js"></script>
		<script src="/get-resource/login.js"></script>
		<script src="/get-resource/videometa.js"></script>
	</head>
	<body class="body">
		<div id="login-popup" class="login-popup" style="display: none;">
			<div class="popup-box">
				<div class="popup-box-internal">
					<div class="sign-in-top">
						<h1>Sign in</h1>
						<p>Don't have an account? <a href="/signup">Sign up</a>.</p>
					</div>
					<div class="sign-in-centre">
						<form id="login">
							<div class="sign-in-feild">
								<input id="username" name="username" type="text" placeholder="Username" />
							</div>
							<div class="sign-in-feild">
								<input id="password" name="password" type="password" placeholder="Password" />
							</div>
						</form>
						<p id="login-message"></p>
					</div>
					<div class="sign-in-bottom">
						<button class="sign-in-cancel button-tonal" onclick="hideLogin()">Cancel</button>
						<button class="sign-in-submit button-filled" onclick="startLogin()">Sign in</input>
					</div>
				</div>
			</div>
		</div>
		<header>
			<div class="navbar">
				<div style="float: left;">
					<ul>
						<img class="logo" src="get-resource/logo.svg"/>
						<li><a href="/"><i class="material-icons">home</i> Home</a></li>
						<li><a href="/videos"><i class="material-icons">video_library</i> Videos</a></li>
						<li><a href="/recent"><i class="material-icons">update</i> Recent</a></li>
					</ul>
				</div>
				<div style="float: right;">
					<ul>
						<li id="user-link"><button class="button-filled" onclick="showLogin()">Sign in</button></li>
						<li></li>
					</ul>
				</div>
			</div>
		</header>
		<main>
			<div class="site-background">
				<div class="before"> </div>
				<div class="main">
					<div class="left-side">
						<div class="rs-vid">
							<div class="main-video-container">
								<video id="video" class="main-video" src="/get-video-data/${video.id}$" loop></video>
								<div id="video-controls" class="main-video-controls" onload="initPlayer()" onmouseout="playerToggleHover()" onmouseover="playerToggleHover()">
									<div class="main-controls-top">
										<h2 class="main-controls-title">${video.title}$</h2>
									</div>
									<div style="background: #fff8; height: 0.3em; border-radius: 0.15em; margin: 0 1em 0 1em;"><div id="main-controls-progress" style="background: var(--main-colour); height: 0.3em; width: 50%; border-radius: 0.15em;"></div></div>
									<div class="main-controls-bottom">
										<img id="main-play-button" class="main-controls-item" src="get-resource/play.svg" onclick="togglePlay()"/>
										<p id="main-controls-time" class="main-controls-item">0:00</p>
									</div>
								</div>
							</div>
							<div class="box-double-grid">
								<div class="box-double-grid-left">
									<h1 id="video-title-heading">${video.title}$</h1>
								</div>
								<div id="edit-title-button-container" class="box-double-grid-right">
									<button id="edit-title-button" class="button-tonal login-only" style="margin-top: 0.5em;" onclick="startEditTitle()">Edit title</button>
								</div>
							</div>
						</div>
						<div class="rs-actions">
							<div class="box">
								<div class="box-half-left">
									<p><b>${channel.name}$</b></p>
									<p><a href="/user/${channel.lower}$">${channel.lower}$</a></p>
								</div>
								<div class="box-half-right box-align-right">
									<div style="float: right;">
										<p>
											<button class="button-tonal">More options</button>
											<button class="button-filled">Subscribe</button>
										</p>
									</div>
								</div>
							</div>
						</div>
						<div class="rs-desc">
							<h4>Video Information</h4>
							${video.info}$
						</div>
					</div>
					<div class="right-side">
						<h4>Up next</h4>
						<p><i>This feature isn't available yet!</i></p>
					</div>
				</div>
			</div>
		</main>
	</body>
	<script>
		updateLoginStatus();
		updateVideoOwner();
	</script>
</html>
