<!DOCTYPE html>
<html lang="en-gb">
	<head>
		<meta charset="utf-8">
		<title>${video.title}$ &mdash; yuBe</title>
		<link rel="icon" type="image/svg+xml" href="get-resource/icon.svg"/>
		<link rel="stylesheet" type="text/css" href="get-resource/style.css"/>
		<script src="get-resource/player.js"></script>
	</head>
	<body class="body">
		<div id="login-popup" class="login-popup" style="display: none;">
			<div class="popup-box">
				<div class="popup-box-internal">
					<div class="sign-in-top">
						<h1>Sign in</h1>
						<p>Don't have an account? <a href="/signup">Sign up</a>.</p>
					</div>
					<div class="sign-in-centre">
						<form id="login">
							<div class="sign-in-feild">
								<label for="username">Username</label><br/>
								<input id="username" name="username" type="text" placeholder="Username" />
							</div>
							<div class="sign-in-feild">
								<label for="password">Password</label><br/>
								<input id="password" name="password" type="password" placeholder="Password" />
							</div>
						</form>
					</div>
					<div class="sign-in-bottom">
						<button class="sign-in-cancel button-secondary" onclick="hideLogin()">Cancel</button>
						<button form="login" class="sign-in-submit button-primary" type="submit">Sign in</input>
					</div>
				</div>
			</div>
		</div>
		<header>
			<div class="navbar">
				<div style="float: left;">
					<ul>
<!-- 						<li><span class="navbar-logo">yu<span class="navbar-logo-a">Be</span></span></li> -->
						<img class="logo" src="get-resource/logo.svg"/>
						<li><a href="/">Home</a></li>
						<li><a href="/videos">Videos</a></li>
						<li><a href="/recent">Recent</a></li>
					</ul>
				</div>
				<div style="float: right;">
					<ul>
						<li><button class="button-primary" onclick="showLogin()">Sign in</button></li>
						<li></li>
					</ul>
				</div>
			</div>
		</header>
		<main>
			<div class="site-background">
				<div class="before"> </div>
				<div class="main">
					<div class="left-side">
						<div class="rs-vid">
							<div class="main-video-container">
								<video id="video" class="main-video" src="${video.file}$" loop></video>
								<div id="video-controls" class="main-video-controls" onclick="togglePlay()" onload="initPlayer()" onmouseout="playerToggleHover()" onmouseover="playerToggleHover()">
									<div class="main-controls-top">
										<h2 class="main-controls-title">${video.title}$</h2>
									</div>
									<div class="main-controls-bottom">
										<img id="main-play-button" class="main-controls-item" src="get-resource/play.svg"/>
										<p class="main-controls-item">Tap video to pause and play.</p>
									</div>
								</div>
							</div>
							<h1>${video.title}$</h1>
						</div>
						<div class="rs-actions">
							<p>Uploaded ${video.date}$ by <b>${channel.name}$</b> (<a href="/user/${channel.lower}$">${channel.lower}$</a>) <button class="button-primary">Subscribe</button></p>
						</div>
						<div class="rs-desc">
							<h4>Video Information</h4>
							${video.info}$
						</div>
					</div>
					<div class="right-side">
						<h4>Up next</h4>
						<p><i>This feature isn't available yet!</i></p>
					</div>
				</div>
			</div>
		</main>
		<footer>
			
		</footer>
	</body>
</html>
